.productsSection,
.cartSection,
.productDetailSection {
  padding-top: 90px;
}

.sectionTitle {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.productsSection nav {
  display: flex;
  justify-content: center;
  padding: 2rem;
}