.cartWidget {
  position: relative;
  cursor: pointer;
}

.cartProducts {
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -10px;
  display: grid;
  place-content: center;
}

.cartWidget:hover .cartProducts {
  background-color: rgb(219, 28, 28);
}
