a {
  color: black;
  font-weight: bold;
  line-height: 1.5;
}

p {
  font-weight: bold;
  color: rgb(132, 132, 132);
}

.loginContainer {
  display: flex;
  height: 100vh;
}

.login {
  width: 50%;
  padding: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.loginTitle h1 {
  margin-bottom: 5px;
}

.googleBtn,
.loginBtn {
  padding: 15px 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
}

.googleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: inherit;
  border: 1px solid rgb(175, 175, 175);
  color: rgb(103, 103, 103);
  font-size: 17px;
}

.googleBtn:hover {
  background-color: rgb(18, 18, 18);
  color: white;
}

.divider {
  width: 100%;
  border-bottom: 2px solid rgb(175, 175, 175);
}

.loginForm {
  padding: 0;
}

.loginForm label {
  color: rgb(103, 103, 103);
  align-self: flex-start;
}

.loginForm input {
  margin-bottom: 10px;
  height: 35px;
}

.loginForm input::placeholder {
  color: rgb(175, 175, 175);
}

.loginForm input,
.loginForm button {
  width: 100%;
  border: 1px solid rgb(208, 208, 208);
}

input::placeholder {
  color: rgb(175, 175, 175);
}

input.valid {
  border: 1px solid green;
}

input.invalid {
  border: 1px solid red;
}

.loginBtn {
  background-color: rgb(24, 24, 24);
  font-size: 19px;
  color: white;
}

.loginBtn:hover {
  background-color: rgb(215, 209, 197);
  color: rgb(21, 21, 21);
}

.imgContainer {
  width: 50%;
  padding: 30px;
  position: relative;
}

.imgContainer h2 {
  width: 70%;
  position: absolute;
  font-size: 30px;
  text-align: center;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(56, 56, 56);
  background-color: rgba(215, 209, 197, 0.682);
  border-radius: 10px;
  padding: 15px;
}
.loginImg {
  width: 80%;
  margin: 0 10%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .login {
    padding: 50px;
  }

  .imgContainer {
    width: 50%;
    padding: 30px;
    position: relative;
  }

  .loginImg {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .loginContainer {
    justify-content: center;
  }

  .login {
    width: 100%;
    padding: 30px;
    justify-content: inherit;
    gap: 40px;
  }
  .imgContainer {
    display: none;
  }
}
