@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.btn {
  padding: 15px 20px;
  background-color: wheat;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn i {
  margin-left: 5px;
}

.btn:hover {
  background-color: #161616;
  color: white;
}

/* .returnBtn {
  position: absolute;
  top: 100px;
  left: 7%;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 50px;
  transition: 0.5s;
  border: 3px solid black;
  font-size: 20px;
}

.returnBtn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.returnBtn h4 {
  display: none;
}

.returnBtn:hover h4 {
  max-width: 200px;
  display: initial;
  padding-right: 10px;
} */
